<!doctype html>
<html lang="en">
  <head>
  	<title>Music Recommendation System</title>
    <meta charset="utf-8">
    <mylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet"eta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
	<link rel="st href="static/scss/style.css">
	<script src="https://kit.fontawesome.com/21a2e7c776.js" crossorigin="anonymous"></script>
	<link rel="stylesheet" href="{% static '/scss/loding.css' %}">
    <link rel="stylesheet" href="{% static '/scss/index.css' %}">
    <link rel="stylesheet" href="{% static '/scss/result.css' %}">
    <link rel="stylesheet" href="{% static '/scss/footer.css' %}">
	<link rel="stylesheet" href="{% static '/scss/style.css' %}">

	

	</head>
	<body>
	<navbar class="ftco-section">
		<div class="container">
			<nav class="navbar navbar-expand-lg ftco_navbar ftco-navbar-light" id="ftco-navbar">
		    <div class="container">
				<img src="{% static '/image/Logo.svg' %}" alt="Logo">
		    	<h class="navbar-brand" href="index.html">Music Recommendation System</h>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="fa fa-bars"></span> Menu
		      </button>
		      <div class="collapse navbar-collapse" id="ftco-nav">
		        <ul class="navbar-nav ml-auto">
					<li class="nav-item"><a href="home" class="nav-link"> <i class="fas fa-home" alt="Home"></i> </a></li>
		        	<li class="nav-item"><a href="#Music" class="nav-link"> <i class="fas fa-headphones-alt" alt="Music"></i> </a></li>
		        	<li class="nav-item dropdown position-static">
		        </ul>
		      </div>
		    </div>
		  </nav>
    <!-- END nav -->
  	</div>
	</navbar>

	<script src="{% static '/js/jquery.min.js' %}"></script>
  	<script src="{% static '/js/popper.js' %}"></script>
  	<script src="{% static '/js/bootstrap.min.js' %}"></script>
  	<script src="{%static '/js/main.js' %}"></script>

	</body>
</html>

